.another-month-days {
    -fx-text-fill: #CCCCCC;
}

.selected-date {
    -fx-background-color: #bdbdbd;
}

.current-date {
    -fx-background-color: #4db6ac
}

.checked {
    -jfx-checked-color: #9e9e9e
}

.raised-green-btn {
    -jfx-button-type: RAISED;
    -fx-background-color: #4db6ac;
    -fx-text-fill: white;
}

.raised-red-btn {
    -jfx-button-type: RAISED;
    -fx-background-color: #e57373;
    -fx-text-fill: white;
}

.raised-grey-btn {
    -jfx-button-type: RAISED;
    -fx-background-color: #bdbdbd;
    -fx-text-fill: white;
}